# <details>
#     <summary>License</summary>
#     <p>Copyright (C) 2022 Bryan A. Jones.</p>
#     <p>This file is part of the CodeChat Editor.</p>
#     <p>The CodeChat Editor is free software: you can redistribute it and/or
#         modify it under the terms of the GNU General Public License as
#         published by the Free Software Foundation, either version 3 of the
#         License, or (at your option) any later version.</p>
#     <p>The CodeChat Editor is distributed in the hope that it will be useful,
#         but WITHOUT ANY WARRANTY; without even the implied warranty of
#         MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
#         General Public License for more details.</p>
#     <p>You should have received a copy of the GNU General Public License
#         along with the CodeChat Editor. If not, see <a
#             href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.
#     </p>
# </details>
# <h1><code>Cargo.toml</code> - Rust build/package management config</h1>
[package]
name = "server"
version = "0.1.0"
edition = "2021"

# This library allows other packages to use core CodeChat Editor features.
[lib]
name = "code_chat_editor"

# <p>See more <a
#         href="https://doc.rust-lang.org/cargo/reference/manifest.html">keys
#         and their definitions</a>.</p>
[dependencies]
actix-files = "0.6"
actix-web = "4"
lazy_static = "1"
regex = "1"
tokio = { version = "1", features = ["full"] }
urlencoding = "2"

[dev-dependencies]
#clippy = "0.0.302"

# See https://doc.rust-lang.org/cargo/reference/features.html.
[features]
# Uncomment this to show an explanation of the lexing process.
default = ["lexer_explain"]
lexer_explain = []
